main {
    display: flex;
    flex-direction: column;
}

.checkout-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    padding: 40px 80px;
}

.checkout-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-section {
    background: #fff;
    border: 1px solid #d2b48c;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 25px 30px;
    animation: fadeIn 0.8s ease;
}

.form-title {
    color: #5a4129;
    font-size: 22px;
    margin-bottom: 18px;
    font-weight: 600;
}

.form-grid {
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    display: flex;
    width: 25%;
    flex-direction: column;
}


.form-group label {
    font-weight: 600;
    font-size: 15px;
    color: #6b4b2e;
    margin-bottom: 6px;
    line-height: 2;
}

.form-group input,
.form-group select {
    border: 1px solid #cda87c;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 15px;
    background: #fffdf8;
    transition: 0.2s;
    
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: #6b8e23;
    box-shadow: 0 0 6px rgba(107, 142, 35, 0.3);
}

.pagamento-options {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    padding: 10px 0;
}

.pagamento-opcao {
    background: #fffdf8;
    border: 2px solid #d2b48c;
    border-radius: 16px;
    padding: 20px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.pagamento-opcao:hover {
    border-color: #6b8e23;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(107, 142, 35, 0.2);
}

.pagamento-opcao img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-bottom: 8px;
}

.checkout-right {
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 120px;
    width: 320px;
}

.resumo-pedido {
    background: #fff;
    border: 1px solid #d2b48c;
    border-radius: 14px;
    padding: 25px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.resumo-pedido h3 {
    text-align: center;
    font-size: 22px;
    color: #5a4129;
    margin-bottom: 15px;
}

.linha-resumo {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    font-size: 16px;
    color: #4b3a2a;
}

.total {
    border-top: 2px solid #cda87c;
    margin-top: 12px;
    padding-top: 10px;
    font-weight: 700;
    font-size: 18px;
}

.btn-finalizar {
    width: 100%;
    background: #6b8e23;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 14px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-finalizar:hover {
    background: #7aa933;
    transform: translateY(-2px);
}

.agradecimento {
    background-color: #fffaf3;
    border: 2px solid #d1b78c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 270px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.589);
    text-align: center;
    
}

.agradecimento h2{
    color: #6b4b2e;
    margin-bottom: 10px;
}

.agradecimento p {
    margin-top: 10px;
    margin: 8px 0;
    font-size: 15px;
}

.agradecimento span{
    color: #cda87c;
}

.btn-fechar{
    background-color: #6b8e23;
    border: none;
    padding: 10px 22px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.281);
    color: #fff;
    margin-top: 18px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
}

.btn-fechar:hover{
    background: #557718;
}

.tela-blur {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(189, 171, 154, 0.24);
    backdrop-filter: blur(5px);
    z-index: 998;
    justify-content: center;
    align-items: center;
}

.tela-blur.boo{
    display: flex;
}

.btn-finalizar.nao{
    background-color: #95998c;
    cursor: not-allowed;
    transform: none;
}

#msg {
    width: 100%;
    margin-top: 20px;
    padding: 12px 18px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    animation: 0.4s;
}

#msg.erro {
    display: block;
    background-color: #ffebeb;
    color: #b40000;
    border: 1px solid #d25b5b;

}

#msg.acerto {
    display: block;
    background-color: #e9ffe9;
    color: #2e7d32;
    border: 1px solid #6b8e23;

}


@media (max-width: 1024px) {
    .checkout-container {
        flex-direction: column;
        padding: 20px 30px;
    }

    .checkout-right {
        position: static;
        flex-direction: column-reverse;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .resumo-pedido {
        margin-top: 30px;
    }
}

@media (max-width: 600px) {
    .agradecimento{
        width: 300px;
    }

    .form-group label{
        font-size: 12px;
        
    }

    .respostas::placeholder{
        font-size: 8px;
        color: transparent;
    }
    
}