* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #A36C43 #f5e8d3;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

input:focus::placeholder {
    color: #ffffffff
}

body {
    background-color: #FAF7F0;
    display: flex;
    flex-direction: column;
}

/*Inicio header...*/
header {
    background-color: #faf7f01a;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #A36C43;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 997;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}

header.menu-aberto {
    background-color: #faf7f0;
    backdrop-filter: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.logo-header {
    display: flex;
    align-items: center;
    gap: 10px;

}

.logo-header img {
    width: 57px;
    height: 57px;
    border-radius: 50%;
}

.logo-escrita-header h3 {
    font-size: 16px;
    color: #A36C43;
    font-weight: 800;
}

.logo-escrita-header h4 {
    font-size: 12px;
    color: #ac7e5c;
    font-weight: 400;
}


.nav-list {
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-list a {
    display: flex;
    cursor: pointer;
    color: #633E22;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s;
}

.nav-list a:hover {
    color: #ad7245;
    transform: scale(1.05);
}

.nav-list a:active {
    transform: scale(0.9);
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#entrar {
    cursor: pointer;
    background-color: #8B4513;
    color: #fff;
    border: 1px solid #c8753a;
    border-radius: 12px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 2px 2px 4px #0000003d;
    transition: 0.3s;
}

#entrar:hover {
    background-color: #bc8055;
    border-color: #8B4513;
    color: #000;
    transform: scale(1.05);
}

#entrar:active {
    transform: scale(0.9);
}

#carrinho img {
    width: 24px;
    height: 22px;
    transition: 0.2s;
}

#carrinho img:hover {
    transform: scale(1.1);
}

#carrinho img:active {
    transform: scale(0.9);
}

.hamb {
    display: none;
    width: 40px;
    height: 40px;
}

.hamb button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
}



.hamb img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s;

}

.hamb img.open {
    transform: rotate(90deg);
}

.mobile-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background: #faf7f057;
    backdrop-filter: blur(5px);
    border: 1px solid #A36C43;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.4s;
}

.mobile-menu .btns {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 12px;
    padding: 0.75rem 1rem 1.25rem;
}


.mobile-menu.open {
    max-height: 420px;
    opacity: 1;
    transform: translateY(0);
}

.mobile-menu .nav-list a {
    display: block;
    padding: 10px 6px;
    width: 100%;
    text-align: center;
    color: #633E22;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 0;
    transition: color 0.3s ease, transform 0.2s ease;
}

.mobile-menu .nav-list a:hover {
    color: #A36C43;
    transform: scale(1.05);
}



/*Fim do header...*/


.intro {
    background: linear-gradient(to bottom, #FAF7F0, #F5F5DE);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 20px;
    padding-top: 200px;
    text-align: center;
    border-bottom: 1px solid #A36C43;
}


.conteudo {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 180px;
}

.btn-verde {
    display: inline-block;
    background: #6B8E23;
    font-size: 20px;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 12px;
    margin-bottom: 18px;
    font-weight: 600;
    transition: 0.3s;
}


.conteudo h1 {
    font-size: 90px;
    font-weight: 800;
    color: #333;
    margin-bottom: 15px;
}

.intro-destaque {
    color: #8B4513;
}

.mini_txt {
    font-size: 27px;
    color: #555;
    margin-top: 30px;
}

.botoes-intro {
    display: flex;
    gap: 70px;
    justify-content: center;
    margin-top: 40px;
}

.btn-marrom {
    background-color: #8B4513;
    color: #fff;
    border: 1px solid #c8753a;
    border-radius: 12px;
    padding: 10px 18px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px #0000003d;
    transition: 0.3s;
    text-decoration: none;

}

.btn-marrom:hover {
    background-color: #bc8055;
    border-color: #8B4513;
    color: #000;
    transform: scale(1.03);
}

.btn-marrom:active {
    transform: scale(0.9);
}

.btn-claro {
    background-color: transparent;
    color: #333;
    border: 1px solid #aaa;
    border-radius: 12px;
    padding: 10px 18px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
}

.btn-claro:hover {
    background-color: #f0f0f0;
    transform: scale(1.03);
}

.btn-claro:active {
    transform: scale(0.9);
}

.section-cards {
    background-color: #FAF7F0;
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 20px;
    border-bottom: 1px solid #a36c43;
}

.eps-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
    padding: 80px 20px;
}

.card {
    background-color: #FFFFFF;
    border: 1px solid #A36C43;
    border-radius: 15px;
    box-shadow: 2px 2px 4px #0000003d;
    width: 400px;
    height: 300px;
    padding: 25px 20px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    background-color: #fffdf9;
    transform: translateY(-8px) scale(1.03);
    box-shadow: 15px 10px 20px rgba(0, 0, 0, 0.15);
}

.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 2px solid #A36C43;


}

.card-img img {
    width: 55px;
    height: 55px;
}

#icon-folha {
    background-color: #DDE2C7;
}

#icon-comunidade {
    background-color: #F1E1CD;
}

#icon-coracao {
    background-color: #E4C4C5;
}

#icon-livro {
    background-color: #f4dfcc;
}

#icon-aquarela {
    background-color: #E4C4C5;
}

#icon-dindin {
    background-color: #F2D98E;
}

.card h2 {
    font-size: 30px;
    color: #633E22;
    margin-bottom: 10px;
}

.card p {
    font-size: 20px;
    color: #555;
    line-height: 1.5;
}

.inicio-destaques {
    background-color: #f7f5e6;
    border-bottom: 1px solid #a36c43;
    justify-content: center;
    text-align: center;
    padding: 60px 20px;
}

.inicio-destaques-escrita h2 {
    color: #8b4513;
    font-size: 50px;
    margin-bottom: 10px;
}

.inicio-destaques-escrita p {
    color: #444;
    margin-bottom: 40px;
}

.destaques {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.card-desque {
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 2px 2px 4px #0000003d;
    width: 433px;
    height: 559px;
    transition: 0.3s;
    text-align: center;
    border: 1px solid #A36C43;

}

.card-desque:hover {
    transform: translateY(-5px);
    box-shadow: 15px 10px 20px rgba(0, 0, 0, 0.15);
}

.card-destaque-img {
    width: 433px;
    height: 425px;
    border-bottom: 1px solid #a36c43;
}

.card-destaque-img img {
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}


.card-desque h3 {
    font-size: 20px;
    color: #633E22;
    margin-top: 5px;
    margin-bottom: 15px;
}

.card-desque p {
    font-weight: bold;
    color: #8b4513;
    font-size: 20px;
    margin-bottom: 15px;

}

.card-desque button {
    background-color: #8b4513;
    color: white;
    border: 1px solid #c8753a;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 15px;
    box-shadow: 2px 2px 4px #0000003d;
    align-items: center;
    justify-items: center;
    transition: 0.3s;

}

.card-desque button:hover {
    background-color: #bc8055;
    border-color: #8B4513;
    color: #000;
    transform: scale(1.05);
    transition: 0.3s;

}

.card-desque button:active {
    transform: scale(0.9);
    transition: 0.3s;
}

.conteudo_cultura {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    background-color: #FDFBF7;
    border-bottom: 1px solid #a36c43;
    gap: 50px;
}

.destaque_corbosta {
    color: #A35922;
    font-size: 54px;
}

.texto_cultura {
    flex: 1;
    max-width: 600px;
}

.texto_cultura h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #A35922;
}

.texto_cultura p {
    font-size: 18px;
    color: #444;
    margin-bottom: 20px;
    line-height: 1.6;
}

.texto_cultura ul {
    margin-bottom: 25px;
    padding-left: 20px;
}

.texto_cultura ul li {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    list-style: disc;
}

.imagem_cultura {
    flex: 1;
    display: flex;
    justify-content: center;
}

.imagem_cultura img {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.brc {
    color: white;
    font-size: 16px;
}



/*Inicio footer...*/
footer {
    background-color: #8b4513;
    padding: 20px;
    color: #faf8f3;
    text-align: center;
}

.foot-dentro {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 15px;
    text-align: left;
}

.link-rapido {
    flex: 1;
    margin: 10px 20px;
    min-width: 250px;
}

.link-rapido h3,
.link-rapido h4 {
    margin-bottom: 15px;
}

.link-rapido p,
.link-rapido a,
.link-rapido li {
    color: #ddd;
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 1.5;
    text-decoration: none;
}

.link-rapido a:hover {
    color: #fff;
}

.link-rapido ul {
    list-style: none;
    padding: 0;
}

.link-rapido ul li {
    margin-bottom: 8px;
}


.chao {
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 13px;
    color: #ccc;
}

.agradecimento {
    background-color: #fffaf3;
    border: 2px solid #d1b78c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.589);
    text-align: center;
    
}

.agradecimento h2{
    color: #6b4b2e;
    margin-top: 20px;
    margin-bottom: 10px;
}

.agradecimento p {
    margin-top: 10px;
    margin: 8px 0;
    font-size: 15px;
}

.agradecimento span{
    color: #cda87c;
}

.btn-fechar{
    margin-bottom: 20px;
    background-color: #6b8e23;
    border: none;
    padding: 10px 22px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.281);
    color: #fff;
    margin-top: 18px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
}

.btn-fechar:hover{
    background: #557718;
}

.tela-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(189, 171, 154, 0.24);
    backdrop-filter: blur(5px);
    z-index: 998;
    justify-content: center;
    align-items: center;
}

.tela-blur.boo{
    display: none;
}


@media (max-width: 1024px) {

    header {
        flex-wrap: wrap;
        height: auto;
        padding: 15px;
    }

    .nav-list {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .intro {
        height: auto;
        margin-top: 60px;
        padding: 80px 30px;
    }

    .conteudo h1 {
        font-size: 60px;
    }

    .mini_txt {
        font-size: 22px;
    }

    .botoes-intro {
        flex-wrap: wrap;
        gap: 30px;
    }

    .eps-cards {
        gap: 40px;
    }

    .card {
        width: 320px;
        height: auto;
    }

    .card-desque {
        width: 350px;
        height: auto;
    }

    .card-destaque-img {
        width: 100%;
    }

    .conteudo_cultura {
        flex-direction: column;
        text-align: center;
    }

    .imagem_cultura img {
        width: 90%;
    }
}


@media (max-width: 768px) {

    header {
        padding: 1.5rem 4rem;
    }

    .nav-list {
        display: none;
    }

    #sopataqui {
        display: none;
    }

    .btns {
        display: none;
    }

    .hamb {
        display: block;
    }


    .mobile-menu .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;

    }

    .mobile-menu .nav-inten {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .btns {
        display: flex;
        padding: 1rem 1.2rem;
    }

    .mobile-menu .btns {
        width: 100%;
    }

    .open {
        display: block;
    }


    .btns_nav {
        margin-top: 15px;
    }

    .intro {
        padding: 60px 20px;
        margin-top: 50px;
    }

    .conteudo h1 {
        font-size: 40px;
    }

    .mini_txt {
        font-size: 18px;
    }

    .botoes-intro {
        flex-direction: column;
        gap: 15px;
    }

    .eps-cards {
        flex-direction: row;
        gap: 30px;
        padding: 40px 0;
    }

    .card {
        width: 90%;
        height: auto;
        padding: 25px;
    }

    .inicio-destaques-escrita h2 {
        font-size: 35px;
    }

    .destaques {
        flex-direction: column;
        align-items: center;
    }

    .card-desque {
        width: 90%;
        height: auto;
    }

    .card-destaque-img {
        height: 350px;
    }

    .conteudo_cultura {
        flex-direction: column;
        padding: 50px 5%;
        text-align: center;
    }

    .texto_cultura {
        max-width: 100%;
    }

    .texto_cultura h1 {
        font-size: 28px;
    }

    .destaque_corbosta {
        font-size: 34px;
    }

    footer .foot-dentro {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .link-rapido {
        margin: 10px 0;
    }
}

@media(max-width: 600px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        margin: 0;
    }

    header nav ul.active {
        display: flex;
    }

    header .btns_nav {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    header .logo-header img {
        width: 50px;
        height: 50px;
    }

    header .logo-escrita-header h3 {
        font-size: 10px;
    }

    header .logo-escrita-header h4 {
        font-size: 8px;
    }

    .agradecimento{
        width: 300px;
    }
    
}


@media (max-width: 480px) {

    .conteudo h1 {
        font-size: 32px;
    }

    .mini_txt {
        font-size: 16px;
    }

    .btn-marrom,
    .btn-claro {
        font-size: 16px;
        padding: 8px 14px;
    }

    .card h2 {
        font-size: 22px;
    }

    .card p {
        font-size: 16px;
    }

    .card-desque p {
        font-size: 18px;
    }

    .texto_cultura p {
        font-size: 16px;
    }

    footer {
        font-size: 12px;
    }
}
