.container {
    max-width: 90%;
    margin: 60px auto;
    padding: 0 30px;
}

.intro-povo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: #fff;
    border: 1px solid #e5d5c0;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    margin-bottom: 70px;
}

.intro-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    gap: 40px;
    text-align: center;
}

.intro-povo-img {
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    width: 70%;
    box-shadow: 0px 1px 5px 6px rgba(0, 0, 0, 0.144);

}

.intro-povo-img img {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 14px;
}

.intro-info p {
    font-size: 17px;
    color: #5f4634;
    line-height: 1.6;
    margin-top: 10px;
    text-align: justify;
}

.cards-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 40%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #fff;
    border: 1px solid #A36C43;
    border-radius: 16px;
    padding: 25px 20px;
    width: 400px;
    height: 320px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.card h2,
.card h3 {
    color: #4a3927;
    margin-bottom: 6px;
}

.card p {
    color: #a76f46;
    font-size: 15px;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.tradicoes,
.artesanatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 16px;
    padding: 30px;
    border: 1px solid #A36C43;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    width: 400px;
    height: 400px;
}

.tradicoes h2,
.artesanatos h2 {
    color: #4a3927;
    margin-bottom: 10px;
}

.tradicoes ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: disc;
    padding-left: 20px;
    color: #a76f46;
    line-height: 1.8;
}

.tradicoes ul li{
    margin-top: 10px;
}

.artesanatos .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 10px;
}

.artesanatos .tags span {
    background: #6b8e23;
    color: white;
    border-radius: 10px;
    padding: 6px 12px;
    justify-self: center;
    align-self: center;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}

.artesanatos .tags span:hover {
    transform: scale(1.08);
}

.cultura {
    margin: 0px 20px;
}

.cultura-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #A36C43;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cultura-card a {
    cursor: pointer;
    background-color: #8B4513;
    color: #fff;
    border: 1px solid #c8753a;
    border-radius: 12px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 2px 2px 4px #0000003d;
    transition: 0.3s;
}

.cultura-card a:hover {
    background-color: #bc8055;
    border-color: #8B4513;
    color: #000;
    transform: scale(1.05);
}

@media (max-width: 1200px) {
    .intro-povo {
        padding: 25px;
        gap: 25px;
        flex-direction: column;
    }

    .intro-info {
        text-align: center;
        width: 100%;
        gap: 20px;
    }

    .intro-povo-img {
        width: 100%;
        box-shadow: none;
    }

    .intro-povo-img img {
        max-width: 90%;
        height: auto;
    }

    .cards-info {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .card {
        width: 90%;
        height: auto;
    }

    .tradicoes,
    .artesanatos {
        width: 90%;
    }

    .cultura-card {
        padding: 20px;
        margin: 0 auto;
        width: 90%;
    }


}


@media (max-width: 480px) {
    .intro-info p {
        font-size: 15px;
        line-height: 1.5;
    }

    .card {
        width: 100%;
        padding: 15px;
    }

    .tradicoes,
    .artesanatos {
        width: 100%;
        padding: 20px;
    }

    .cultura-card a {
        font-size: 13px;
        padding: 6px 12px;
    }
}