/*whey de 1kg só na growth, o resto no mercado tem 999g*/
/*Projetinho so com o toguro, o resto é farsa*/
.sec-filtro {
    background-color: #FAF7F0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    border-bottom: 1px solid #a36c43;
}

.conteudo-filtro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    gap: 30px;
}

.letreiro-filtro {
    text-align: center;
    max-width: 700px;
}

.letreiro-filtro h2 {
    font-size: 48px;
    color: #8b4513;
}

.mini_txtx {
    font-size: 18px;
    color: #444;
    margin-top: 10px;
}


.espaco-filtro {
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.276);
    border-radius: 16px;
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 900px;
}

.title-filtro {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.title-filtro img {
    width: 24px;
    height: 24px;
}

.filtros {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
}

.filtro-buscar,
.filtro-categorias {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 600;
    color: #633e22;
    width: 100%;
    max-width: 350px;
}

.filtros label {
    margin-bottom: 8px;
    font-size: 16px;
}

.filtros input,
select {
    border: 2px solid #c8753a;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 15px;
    outline: none;
    background-color: #fff;
    transition: 0.3s;
}

.filtros input:focus {
    border-color: #8b4513;
    box-shadow: 0 0 5px #8b4513;
}

.produtos-lista {
    background-color: #F7F5E6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-produtos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    max-width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.produtos-encontrados {
    color: #555;
    font-size: 16px;
    margin-top: 20px;
}


.mini_card-desque {
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 2px 2px 4px #0000003d;
    width: 300px;
    height: 500px;
    transition: 0.3s;
    text-align: center;
    gap: 50px;
    border: 1px solid #A36C43;
    display: flex;
    flex-direction: column;

}

.mini_card-desque:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}


.mini_card-destaque-img {
    width: 299px;
    height: 210px;
    border-bottom: 1px solid #a36c43;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini_card-destaque-img img {
    border-radius: 16px 16px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-prod-info {
    display: flex;
    flex-direction: column;
}

.card-prod-titles {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}

.card-prod-titles h3 {
    color: #A35922;
    font-size: 20px;
    font-weight: 700px;

}

.descricao {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    line-height: 1.4;
}

.info-prods {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.preco {
    font-weight: bold;
    color: #8b4513;
    font-size: 22px;
}

.categoria {
    background-color: #E8DDD4;
    color: #A35922;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 14px;
}

.acoes-card {
    margin: 20px 15px;
    display: flex;
    justify-content: center;
    gap: 20%;
    align-items: center;
    margin-bottom: 10px;
}

.btn-ver,
.btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    gap: 10px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

.btn-ver img,
.btn-add img {
    width: 20px;
    height: 20px;
}



.btn-ver {
    background: #E8DDD4;
    color: #A35922;
    border: 1px solid #A36C43;
}

.btn-ver:hover {
    background: #ddd;
    transform: scale(1.05);
}

.btn-ver:active {
    transform: scale(0.9);
}

.btn-add {
    background-color: #8B4513;
    color: white;
    border: 1px solid #c8753a;
    box-shadow: 2px 2px 4px #0000003d;
}

.btn-add:hover {
    background-color: #bc8055;
    color: #000;
    transform: scale(1.05);
}

.btn-add:active {
    transform: scale(0.9);
}

.agradecimento {
    background-color: #fffaf3;
    border: 2px solid #d1b78c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 270px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.589);
    text-align: center;

}

.agradecimento h2 {
    color: #6b4b2e;
    margin-bottom: 10px;
}

.agradecimento p {
    margin-top: 10px;
    margin: 8px 0;
    font-size: 15px;
}

.agradecimento span {
    color: #cda87c;
}

.alert {
    margin-top: 10px;
    font-size: 15px;
    color: #3a7a1c;
    background: #e4fbe0;
    border-radius: 8px;
}

.btn-fechar {
    background-color: #6b8e23;
    border: none;
    padding: 10px 22px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.281);
    color: #fff;
    margin-top: 18px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
}

.btn-fechar:hover {
    background: #557718;
}

.tela-blur {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(189, 171, 154, 0.24);
    backdrop-filter: blur(5px);
    z-index: 998;
    justify-content: center;
    align-items: center;
}

.tela-blur.boo {
    display: flex;
}

.btn-finalizar.nao {
    background-color: #95998c;
    cursor: not-allowed;
    transform: none;
}