main {
    padding: 80px 20px;
    text-align: center;
}

h1 {
    color: #8B4513;
    font-size: 50px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
}

span {
    color: #df6406;

}

.termos-box {
    background-color: #FFFDF7;
    border: 1px solid #A36C43;
    border-radius: 12px;
    padding: 30px;
    max-width: 700px;
    margin: 0 auto 40px auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.termos-box ul {
    text-align: left;
    margin: 20px 0;
    font-size: 16px;
    color: #555;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    cursor: pointer;
}

input {
    width: 20px;
    height: 20px;
    accent-color: #6B8E23;
}

.btn-verde {
    display: inline-block;
    background: #6B8E23;
    font-size: 20px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-verde:disabled {
    background: #ccc;
    cursor: not-allowed;
}


.chao p {
    color: #ffffff;
}